/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
}

h2 {
  font-size: 3em;
}
h2,
a {
	color: #093a58;
}
a {
	text-decoration: none;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Header Positioning---- */
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.navigation,
.contact {
  flex-basis: 47.5%;
}
.navigation {
  display: flex;
	justify-content: center;
	/* background-color: lightblue; */
}
h2 {
	/* background-color: pink; */
  text-align: center;
	flex-basis: 5%;
}
.contact {
	/* background-color: lightgrey; */
  position: relative;
}
.cont-buttons {
  position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	z-index: -1;
}

/* ---- Header styling---- */
.nav-buttons a {
	text-align: center;
}
.nav-buttons a,
.contact p {
	text-align: center;
	background-color: white;
  cursor: pointer;
  font-size: .95em;
	color: DarkCyan;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 5px 5px;
  display: block;
	border-radius: 25px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.contact {
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-header a:hover {
	color: #D2691E;
}
.main-header a:active {
	color: #DEB887;
}
.contact-img {
  height: 40px;
  margin: 5px;
}

/* ---- Contact Button Effects---- */
.cont-buttons {
	transition: .5s;
}
.contact:hover .cont-one {
	transform:  translate(-75px, 55px);
	z-index: 2;
}
.contact:hover .cont-two {
	transform:  translate(-25px, 55px);
	z-index: 2;
}
.contact:hover .cont-three {
	transform:  translate(25px, 55px);
	z-index: 2;
}
.contact:hover .cont-four {
	transform:  translate(75px, 55px);
  z-index: 2;
}
.cont-buttons:active {
	opacity: 0.50;
}

/* ---- Intro styling---- */
.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
	background-image: url('../img/Background/forest.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-shadow:
 		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
	 	1px 1px 0 #000;
}
.intro p {
	color: white;
	font-size: 4.5em;
	margin: 0;
	text-align: center;
}
.name-pronounce {
	font-size: 20px;
}

/* ---- About Me Positioning---- */
.container {
	height: 800px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.60), rgba(255, 255, 255, 0.60)),
										url('../img/Background/cirrus.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-me {
	margin: 0 auto;
	width: 50%;
}
.profile-img {
	border-radius: 10px;
	margin-right: 20px;
	width: 250px;
	height: auto;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
							0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-me p {
	margin: 0;
	font-size: 1.2em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ---- Footer ---- */
.main-footer {
	width: 100%;
	text-align: center;
	height: 80px;
}
.main-footer p {
	padding-top: 35px;
	margin-top: 0;
}

@media (max-width: 800px) {
	.main-header {
		flex-direction: column;
	  justify-content: center;
	  align-items: center;
		height: 400px;
	}
	.navigation,
	.contact {
	  flex-basis: auto;
		width: 80%;
	}
	.contact p {
		width: 100%;
	}
	.navigation {
		flex-direction: column;
	}
	h2 {
		margin: 60px 0 0;
		flex-basis: auto;
		order: 2;
	}
	.intro {
		height: 500px;
	}
	.intro p {
		font-size: 3em;
	}
	.name-pronounce {
		font-size: 15px;
	}
	.container {
		height: 900px;
	}
	.about-me {
		margin: 0 auto;
		width: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.about-me p {
		margin-top: 20px;
		text-align: center;
	}
	.profile-img {
		float: none;
		margin-right: 0;
	}
}
